<div class="bg-img">
    <div class="container ">
        <div class="row d-flex justify-content-center h-100">
            <div class="col-md-4">
                

                    <form>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input name="" class="form-control" placeholder="Họ và tên" type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input name="" class="form-control" placeholder="Email" type="email">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                            </div>

                            <input name="" class="form-control" placeholder="Số điện thoại" type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                            </div>
                            <input name="date" type="date" class="form-control" placeholder="Thời gian">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Đặt lịch </button>
                        </div> <!-- form-group// -->

                    </form>
                    
                

            </div>
        </div>
    </div>
</div>

<div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          
            <div class="aaaaa">
              <h1>Bạn cần chúng tôi tư vấn về sức khỏe không?</h1>
              <p>Dịch vụ tư vấn miễn phí</p>
            </div>
          
            
         
        </div>
        <div class="col-md-2" style="margin-top: 15px">
          <div class="float-right">
            <a href="#" >Liên hệ ngay</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12 segment-one">
            <h3 style="color: #ffffff;">Liên hệ</h3>
            <p>Tư vấn: <strong>0912.345.678</strong></p>
            <p>Email: phongkhamTJF@gmail.com</p>
            <p><strong>Địa chỉ: </strong>Hà nội - Mễ Trì Hạ - số 11 , Ngõ 59</p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 segment-two">
            <h2  style="color: #ffffff;">Liên kết nhanh</h2>
            <ul>
                <li><a href="">Tìm dịch vụ</a></li>
                <li><a href="">Tư vấn</a></li>
                <li><a href="">Tin tức</a></li>
                <li><a href="">Tìm địa điểm</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 segment-three">
            <h2  style="color: #ffffff;">Liên hệ chúng tôi</h2>
            <p></p>
             <a href=""><i class="fa fa-facebook" ></i></a>
             <a href=""><i class="fa fa-youtube" ></i></a>
             <a href=""><i class="fa fa-twitter" ></i></a>
          </div>
          
        </div>
      </div>
    </div>
    <hr/>
    <p class="footer-bottom-text">© Bản quyền thuộc về <strong>Mediacal </strong>  </p> 
  </footer>