
<!-- <!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head> -->
  <body>
	<div class="tintuc">
		<section class="wthree-row w3-about  py-5">
			<div class="container py-md-4 mt-md-3">
				<h3 class="w3ls-title text-uppercase text-center" style="color: aliceblue;">Luôn cập nhật thông tin y tế mới nhất</h3>
				<div class="card-deck mt-md-3 pt-5">
					  <div class="card">
						<img src="https://img.nhandan.com.vn/resize/600x-/Files/Images/2020/08/15/117404426_10157775414873789_3243-1597492979480.jpg" class="img-fluid" alt="Card image cap">
						<div class="card-body w3ls-card">
						  <h5 class="card-title">Đà Nẵng công bố điều trị khỏi cho 10 ca Covid-19</h5>
						  
						</div>
			  <button type="submit" class="btn btn-success" ><h4>Chi tiết !</h4></button>
					  </div>
					  <div class="card">
						<img src="https://img.nhandan.com.vn/resize/320x-/Files/Images/2020/08/15/1-1597489717562.jpg" class="img-fluid" alt="Card image cap">
						<div class="card-body w3ls-card">
						  <h5 class="card-title">Hơn 1,2 nghìn người đang thực hiện cách ly ở Hải Dương</h5>
						   
						</div>
			   <button type="button" class="btn btn-success"><h4>Chi tiết !</h4></button>
					  </div>
					  <div class="card">
						<img src="https://img.nhandan.com.vn/resize/320x-/Files/Images/2020/08/15/116362897_172568154327882_958311-1597489708553.jpg" class="img-fluid" alt="Card image cap">
						<div class="card-body w3ls-card">
						  <h5 class="card-title">Công bố thêm 20 ca Covid-19 mới, thêm ca tử vong thứ 23</h5>
						
						</div>
			   <button type="button" class="btn btn-success"><h4>Chi tiết !</h4></button>
					  </div>
					  <div class="card">
						<img src="https://img.nhandan.com.vn/resize/320x-/Files/Images/2020/08/15/25-1597487424502.jpg" class="img-fluid" alt="Card image cap">
						<div class="card-body w3ls-card">
						  <h5 class="card-title">Đội phản ứng nhanh Bệnh viện Chợ Rẫy tiếp tục hỗ trợ Đà Nẵng</h5>
						   
						</div>
			   <button type="button" class="btn btn-success"><h4>Chi tiết !</h4></button>
					  </div>
					  
					</div>
				</div>
		</section>
	

		<h3 class="w3ls-title text-uppercase text-center" style="color: aliceblue;">Xem tiếp thông tin</h3>


	  
	
	  <div class="hover01 column" style="text-align: center;">
		<div>
		  <figure><img src="https://picsum.photos/300/200?image=244" /></figure>
		  <span>Hover</span>
		</div>
		<div>
		  <figure><img src="https://picsum.photos/300/200?image=1024" /></figure>
		  <span>Hover</span>
		</div>
		<div>
		  <figure><img src="https://picsum.photos/300/200?image=611" /></figure>
		  <span>Hover</span>
		</div>
	  </div>
	  <div class="hover01 column">
		<div>
		  <figure><img src="https://picsum.photos/300/200?image=244" /></figure>
		  <span>Hover</span>
		</div>
		<div>
		  <figure><img src="https://picsum.photos/300/200?image=1024" /></figure>
		  <span>Hover</span>
		</div>
		<div>
		  <figure><img src="https://picsum.photos/300/200?image=611" /></figure>
		  <span>Hover</span>
		</div>
	  </div>
	  </div>
	  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html> -->